body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    height: 200px;

}

.card {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;
    background-color: #ddebf8;
    text-align: center;
}

.border-blue {
    border: 1px dotted blue;
}